@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F9F8F4;
  color: #1a1a1a;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}